body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f7fa;
    padding: 40px;
}

.main {
    display: flex;
    flex-direction: row-reverse;
    background: white;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}



/*Main style*/
.mail_cont {
    padding: 105px 90px;
    flex: 1;
}
.about {
   margin-bottom: 40px;   
}

.about_position {
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margine-bottom: 20px;
   }

.about_me {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margine-bottom: 25px;
}

.about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
    height: 120px;

}

/*projects*/

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    color: #000000;
}
.project_list {
    padding: 0;
    margin-left: 15px;
    margin-bottom: 50px;
}

.project_item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 15px;
}


.project,
.project_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
}


 .bracet {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px; 
    color: #000000;
 }


/*work*/

.position {
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #000000;
margin-bottom: 10px;
}

.yelow {
    color:#FB6D3A;
}


.project_time {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    padding: 0;
    margin-top: 8px;
    margin-bottom: 10px;
   }

.size {
    color: black;
/*    font-weight: 700;*/
}

.responsibility {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;

}
.responsibility_all {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: -;
}

.all {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;

}
.education {
    padding-left: 0;
}
/*sidebar*/

.sidebar {
	background-color: #1E2939;
    color: #FFFFFF;
    width: 370px;
    padding-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.sidebar_cont {
    padding: 0 40px 40px 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 10px 70px 10 px;
}

.photo {
    width: 100%;
    margin-bottom: 50px;
}

.contact_tipe {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.contact_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}

.sidebar_list {
    padding-left: 18px;
}

.sidebar_list li::marker {
    color: orangered;
}
